APP_NAME=ECガチャSAMPLE
APP_ENV=local
APP_KEY=base64:x6uN3Cdjrpu3CJ9LicvjuIjtBcjzWzbn/9zFju50l38=
APP_DEBUG=true
APP_URL=https://ecgachasample.site
APP_COMPANY_NAME="Link Seed"
APP_COMPANY_URL=https://link-seed.jp/
APP_MANIFEST=true
APP_FOBEES_EMAILS=
LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=mysql320.phy.heteml.lan
DB_PORT=3306
DB_DATABASE=_ecgachasample
DB_USERNAME=_ecgachasample
DB_PASSWORD=lj7lv2vmhat3

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=public
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# 会員登録等用メールアドレス
MAIL_MAILER=smtp
MAIL_HOST=smtp.hetemail.jp
MAIL_PORT=465
MAIL_USERNAME=cs@ecgachasample.site
MAIL_PASSWORD=x4QKYQrcH8vGOH66
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=cs@ecgachasample.site
MAIL_FROM_NAME="${APP_NAME}"

# お知らせ一括メール送信用メールアドレス
MAIL_INFO_MAILER=smtp
MAIL_INFO_HOST=smtp.hetemail.jp
MAIL_INFO_PORT=465
MAIL_INFO_USERNAME=contact@ecgachasample.site
MAIL_INFO_PASSWORD=EjwmwcMk5TyFhdWE
MAIL_INFO_ENCRYPTION=ssl
MAIL_INFO_FROM_ADDRESS=contact@ecgachasample.site
MAIL_INFO_FROM_NAME="${APP_NAME}"

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

# stripe
STRIPE_KEY=pk_test_51Rd1cFGaYOoxyJs5QYqUv1YtOW0kbZi5AW2V4xDumkSTs7vnQMXtqM5qvMyX6PL8ChSIBz8wYm67InRCfYrz65RL00t9Nut5Xc
STRIPE_SECRET=sk_test_51Rd1cFGaYOoxyJs5YRno5OrfVsStxtBNPQgXktdVczK0sfqcd0MuSrldYp3jXtlHQjp9m67TdJMnSUBmZiGv0M4Z00FJM0fExu
STRIPE_ENDPOINT_SECRET=whsec_IvFllXXC576tFj8i9zd0Tez5EOOflwJQ
STRIPE_SUBSCRIPTION_ENDPOINT_SECRET=

# サブスクリプション
SUBSCRIPTION=false

# 決済完了を管理者へ通知するメールアドレス
PAYMENT_COMP_EMAIL=pay_comp@ecgachasample.site

# SNSアカウント名
SNS_TWITTER=
SNS_NOTE=
SNS_INSTAGRAM=
SNS_TIKTOK=

# ランク・チケット機能
NEW_TICKET_SISTEM=false
NEW_TICKET_SISTEM_NOTICKET=true

# [キャンペーン]　お友達紹介
CANPAING_INTRODUCTORY=false

# [キャンペーン]　初回ポイント購入
CANPAING_FIRST_POINT_SAIL=false

# シェアボタン
SHARE_BTNS=false

# ガチャ公開数の制限(数字を入力)
LIMIT_GACHA_COUNT=

# カテゴリー公開数の制限(数字を入力)
LIMIT_CATEGORY_COUNT=

# ガチャ画像比率
GACHA_CARD_RATIO=ratio-1x1

# ユーザー商品の発送期限(日,数値)
USER_PRIZE_DEADLINE_DATE=14

# ユーザーポイントの利用可能期限(日,数値)
USER_POINT_DEADLINE_DATE=180

# ガチャのアド予告演出
ADD_CHANCE_NOTICE=false

# クーポン
COUPON=true

# ポイント交換なし
NO_EXCHANGE_POINT=

# ガチャの商品履歴の表示(売切れ時のみ表示)
GACHA_PRIZE_HISTORY=true

# 住所入力に靴の入力を指定する
ADDRESS_USE_SIZE=

# 買取表の表示
PURCHASE=true

# ECストアー設定
APP_LAYOUT=store
STORE_ITEM_RATIO=ratio-1x1
STORE_ROUTE_GACHA="${APP_URL}/g"
STORE_ROUTE_STORE="${APP_URL}/store"
STORE_ADMIN=admin
STORE_NO_GACHA=
