# ---------------------------
#  アプリケーション　基本設定
# ---------------------------

# デバッグ利用
APP_DEBUG=true

# APPキー
APP_KEY=base64:luhyzeNxcMOsoK6rO2RWvrXrvINho5k3e3COz+y/bLU=

# サイト名
APP_NAME="ガチャシステムSAMPLE"

# サイトURL
APP_URL=http://localhost:8888/dir_gacha/sample/public

# クライアントキー
# APP_CLIENT="client_a"

# クライアント企業名orサイト名
APP_COMPANY_NAME="Fobees"

# クライアント企業URL
APP_COMPANY_URL=https://fobees.jp/

# PWAマニフェスト
APP_MANIFEST=false

# システム運営アカウントメールアドレス
APP_FOBEES_EMAILS=t.sakai@tosuma.ltd,t.sakai@tosuma.ltdd,t.sakai@tosuma.ltddd



APP_ENV=local

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=public
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=43200 #30日キャッシュクリアを延長

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379



# ---------------------------
#  DB設定
# ---------------------------

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=8889
DB_DATABASE=gacha_sample
DB_USERNAME=root
DB_PASSWORD=root



# ---------------------------
#  メールアドレス
# ---------------------------

# 会員登録等用メールアドレス
MAIL_MAILER=smtp
MAIL_HOST=smtp.hetemail.jp
MAIL_PORT=465
MAIL_USERNAME=cs@samplegacha.site
MAIL_PASSWORD=qRN5Zu7RQhIsP65Y
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=cs@samplegacha.site
MAIL_FROM_NAME="${APP_NAME}"

# お知らせ一括メール送信用メールアドレス
MAIL_INFO_MAILER=smtp
MAIL_INFO_HOST=smtp.hetemail.jp
MAIL_INFO_PORT=465
MAIL_INFO_USERNAME=info@samplegacha.site
MAIL_INFO_PASSWORD=YaeWus1acC0MdAa9
MAIL_INFO_ENCRYPTION=ssl
MAIL_INFO_FROM_ADDRESS=info@samplegacha.site
MAIL_INFO_FROM_NAME="${APP_NAME}"

# 会員登録・メール認証用メールアドレス(register_auth)
MAIL_REGISTER_AUTH_MAILER=smtp
MAIL_REGISTER_AUTH_HOST=smtp.hetemail.jp
MAIL_REGISTER_AUTH_PORT=465
MAIL_REGISTER_AUTH_USERNAME="${MAIL_FROM_ADDRESS}"
MAIL_REGISTER_AUTH_PASSWORD="${MAIL_PASSWORD}"
MAIL_REGISTER_AUTH_ENCRYPTION=ssl
MAIL_REGISTER_AUTH_FROM_ADDRESS="${MAIL_FROM_ADDRESS}"
MAIL_REGISTER_AUTH_FROM_NAME="${APP_NAME}"

# 会員登録・完了用メールアドレス(register_comp)
MAIL_REGISTER_COMP_MAILER=smtp
MAIL_REGISTER_COMP_HOST=smtp.hetemail.jp
MAIL_REGISTER_COMP_PORT=465
MAIL_REGISTER_COMP_USERNAME="${MAIL_FROM_ADDRESS}"
MAIL_REGISTER_COMP_PASSWORD="${MAIL_PASSWORD}"
MAIL_REGISTER_COMP_ENCRYPTION=ssl
MAIL_REGISTER_COMP_FROM_ADDRESS="${MAIL_FROM_ADDRESS}"
MAIL_REGISTER_COMP_FROM_NAME="${APP_NAME}"


MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"



# ---------------------------
#  決済手段の設定
# ---------------------------

# 決済完了を管理者へ通知するメールアドレス
PAYMENT_COMP_EMAIL=cs@fobees.jp

# stripe
STRIPE_KEY=
#pk_test_51O8I4FKoJdkajOL0jBj2QA4zVdDg6f5LvsOew1fPg5Qa7J6m76EeJczQfDT990d92294WYAMgLHCn2uCRhMSqyUw00NYcVlmdy
STRIPE_SECRET=sk_test_51O8I4FKoJdkajOL04deEDnVQcnLDQ6uuZ0GuXnERdUSnn5oRZNtdwpjuMj0tv4zD26zqV3Td1xZxygk6eN1DlNNC00yuIc0AGK
STRIPE_ENDPOINT_SECRET=whsec_SGIQlNTkUpOmnUQuxKcCw4LhXCOvaLZA
STRIPE_SUBSCRIPTION_ENDPOINT_SECRET=

#[決済手段] JCB ( true または false )
STRIPE_PAYMENTTYPES_JCB=true
#[決済手段] ApplePay
STRIPE_PAYMENTTYPES_APPLEPAY=true
#[決済手段] GooglePay
STRIPE_PAYMENTTYPES_GOOGLEPAY=true
#[決済手段] PayPay
STRIPE_PAYMENTTYPES_PAYPAY=
#[決済手段] コンビニ支払い
STRIPE_PAYMENTTYPES_KONBINI=
#[決済手段] 銀行振込
STRIPE_PAYMENTTYPES_BANK=true

# サブスクリプション
SUBSCRIPTION=true

#fincode
FINCODE_KEY=p_test_MzBhMTY4MTMtYzQ3OC00MGY2LTk5MTQtZGU4YzY5MGJkMTIzNmMwOTQxMTQtOWQwOC00YjliLWFiMTYtOTRhNDQ1YzA3ZWFhc18yNDAzMTI4ODU2Nw
FINCODE_SECRET=m_test_YWQ1YWFhNTAtMTYzMC00YzkyLWE2MWYtMDVmN2VhZDZiZmU1MWI2NTE0NDYtNGJmOC00MDhiLWFhNTEtMDgwOTZlMjZiM2Fkc18yNDAzMTI4ODU2Nw
FINCODE_BASE_URL=https://api.test.fincode.jp

#PayPay(test)
PAYPAY_API_KEY=a_84RsbIj0jW_mD7w
PAYPAY_API_SECRET=aIWZKlx2yZ27DiaRSZg3YEQYbvLSRmiK3JC4Vqx/kuc=
PAYPAY_MERCHANT_ID=740446242096996352
PAYPAY_ENVIRONMENT=false  # 本番環境なら 'true'



# ---------------------------
#  SNSアカウント・SNSログイン
# ---------------------------

# SNSアカウント名
SNS_TWITTER=CardFesta7627
SNS_NOTE=cardfesta
SNS_INSTAGRAM=cardfesta
SNS_TIKTOK=@cardfesta
SNS_LINE=#b9KJTLb
SNS_YOUTUBE=#@cardFesta


# SNSログイン　LINE
AUTH_LINE_CLIENT_ID=2007989719
AUTH_LINE_CLIENT_SECRET=2398fe5af8c27a031ccbe55373ae2dc3
AUTH_LINE_REDIRECT_URI="${APP_URL}/login/line/callback"

# SNSログイン　X
AUTH_X_CLIENT_ID=
AUTH_X_CLIENT_SECRET=
AUTH_X_REDIRECT_URI="${APP_URL}/login/x/callback"

# SNSログイン　Yahoo
AUTH_YAHOO_CLIENT_ID=
AUTH_YAHOO_CLIENT_SECRET=
AUTH_YAHOO_REDIRECT_URI="${APP_URL}/login/yahoo/callback"

# SNSログイン　Google
AUTH_GOOGLE_CLIENT_ID=322013615150-7dcb3h0nf7mijjs0frbr3odbnau89245.apps.googleusercontent.com
AUTH_GOOGLE_CLIENT_SECRET=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
AUTH_GOOGLE_REDIRECT_URI="${APP_URL}/login/google/callback"



# ---------------------------
#  サイト表示設定
# ---------------------------

# シェアボタン
SHARE_BTNS=

# ダーク背景
APP_BG_DARK=

# ガチャ画像比率
GACHA_CARD_RATIO=ratio-4x3



# ガチャ公開数の制限(数字を入力)
LIMIT_GACHA_COUNT=false

# カテゴリー公開数の制限(数字を入力)
LIMIT_CATEGORY_COUNT=false



# ユーザー商品期限(日,数値)
USER_PRIZE_DEADLINE_DATE=14

# ユーザーポイントの期限(日,数値)
USER_POINT_DEADLINE_DATE=180



# 二段階認証ログイン(TFA)の利用
lOGIN_TFA=false

# 1アカウント1ログインの利用
USER_SESSION_VALIDATE=true



# 公開前ガチャのカウントダウン開始時間
COUNTDOWN_MINUTE=30 #30分前開始
# COUNTDOWN_MINUTE=60   #1時間前開始
# COUNTDOWN_MINUTE=1440 #1日前開始
# COUNTDOWN_MINUTE=4320 #3日前開始



# ---------------------------
#  オプション設定
# ---------------------------


# 会員ランクシステムの利用
USER_RANK_SISTEM=true

# チケットシステムの利用
TIKET_SISTEM=false

# 取得商品のチケット利用
CHANG_PRIZE_TO_TIKET=false


# [キャンペーン]　お友達紹介
CANPAING_INTRODUCTORY=true

# [キャンペーン]　初回ポイント購入
CANPAING_FIRST_POINT_SAIL=true


# ポイント交換なし
NO_EXCHANGE_POINT=

# ガチャの商品履歴の表示
GACHA_PRIZE_HISTORY=

# クーポン機能
COUPON=

# 住所入力に靴の入力を指定する
ADDRESS_USE_SIZE=

# 買取表の表示
PURCHASE=

# ポイント購入制限年齢(年齢入力:数値)
MIN_AGE=

# Admin一括発送処理の許可
IS_BULK_SHIPPING=

# 発送商品の追跡番号登録
SHIPPED_TRACKING_CODE=

# パスワード変更の１日の上限回数(数値)
CHANGE_PASSWORD_LIMIT=


# お知らせの種類分け有無
INFOMATION_USER_TYPES=

# アンケート機能
SURVEY=

# イベントガチャ
EVENT_GACHA=



# ---------------------------
#  ECページ設定
# ---------------------------

# レイアウト指定
# APP_LAYOUT=store

# EC管理者ページの利用(admin)
# STORE_ADMIN=admin

# EC商品の比率
# STORE_ITEM_RATIO=ratio-1x1

# ガチャサイトURL
STORE_ROUTE_GACHA="${APP_URL}/g"
STORE_ROUTE_STORE="${APP_URL}/store"

# ガチャページなし
STORE_NO_GACHA=

# 発送ポイント(数値)
STORE_SEEPED_POINT=700





