/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor

.env
.env_copy
.env_heteml
.env_heteml_test
.env_heteml_sample
.env_het_ecgachasample
.env_het_eventgacha
.env_het_gachasample
.env_het_samplegacha
.env_na

.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
