.form-steps-pill {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-steps-pill .step-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    color: hsl(204deg, 20%, 60%);
    font-weight: bold;
}
.form-steps-pill .step_num {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    background-color: hsl(204deg, 20%, 60%);
    color: white;
    border-radius: 50%;
    text-align: center;
}
